body{
    margin: 0;
    background-color: #2b2b2b;
}

.controls{
    position: relative;
    height:100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.play-button{
    order: 1;
    width: 50px;
    height:50px;
}

.tempo-input{
    order:2;
    height:50px;
    width: 80px;
}